@page
@model LockoutModel
@{
    ViewData["Title"] = "PgoPlus User Portal";
}

<section class="vh-100 gradient-form">
    <div class="container py-5 h-20">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-12">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-10">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="https://www.inossem.ca/img/footlogo.png" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">Pgo Plus User Portal</h4>
                                </div>
                                <p class="text-danger">This account has been locked out, please try again later.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>