@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="logincontainer1">
    <div class="loginform">
        <div class="text-center">
            <h4 class="mt-1 mb-1 pt-3">SIGN OUT</h4>
            <a style="color:silver;font-size:16px;">ProcessGo Plus User Portal</a>
        </div>

        @{ if (User.Identity.IsAuthenticated)
            {
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 pt-2 ml-3 mr-3 mt-4 mb-3" type="submit">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
             }
            }
    </div>
 </div>
