@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="logincontainer1">
    <div class="loginform">
        <div class="text-center">
            <h4 class="mt-1 mb-1 pb-2 pt-4">REGISTER CONFIRMATION</h4>
            <a>ProcessGo Plus User Portal</a>
        </div>
        <form method="post">
            <h6 class="mt-1 mb-1 pb-2 pt-4 ml-3 mr-3">
                Please check your email to confirm your account.
            </h6>
        </form>
    </div>
</div>
