@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="logincontainer1">
    <div class="loginform">
        <div class="text-center">
            <h4 class="mt-1 mb-1 pt-3">RESET PASSWORD</h4>
            <a style="color:silver;font-size:16px;">ProcessGo Plus User Portal</a>
        </div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-outline mb-1 pt-1 ml-2 mr-2">
                <input type="email" asp-for="Input.Email" class="form-control" placeholder="Email address" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-outline mb-1 pt-2 ml-2 mr-2">
                <input type="password" asp-for="Input.Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-outline mb-1 ml-2 pb-4 mr-2">
                <input type="password" asp-for="Input.ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="text-center mr-2 ml-2">
                <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Reset</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
