@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="logincontainer1">
    <div class="loginform">
        <div class="text-center">
            <h4 class="mt-1 mb-1 pb-2 pt-4">RESEND EMAIL CONFIRMATION</h4>
            <a>ProcessGo Plus User Portal</a>
        </div>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label type="email" class="form-label ml-2" asp-for="Input.Email">Please input your Email</label>
            <div class="form-outline mb-1 ml-2 mb-3 mr-2">
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-outline mb-1 ml-2 mr-2">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Resend</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
