@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="logincontainer1">
    <div class="loginform">
        <div class="text-center">
            <h4 class="mt-1 mb-1 pb-2 pt-4">RESET PASSWORD CONFIRMATION</h4>
            <a>ProcessGo Plus User Portal</a>
        </div>
        <form method="post">
            <h6 class="mt-1 mb-1 pb-2 pt-4 ml-3 mr-3">
                Your password has been reset.
            </h6>
            <h6 class="mt-1 mb-1 pb-2 pt-4 ml-3 mr-3">
                Please <a asp-page="./Login">click here to log in</a>.
            </h6>
        </form>
    </div>
</div>

